DEBUG=1
OAUTH_DOMAIN=

OAUTH_DBHOST=127.0.0.1
OAUTH_DBPORT=3306
OAUTH_DBNAME=oauth2
OAUTH_DBUSER=root
OAUTH_DBPASS=

OAUTH_CODE_LIFETIME=60
OAUTH_ACCESS_LIFETIME=604800
OAUTH_REFRESH_TOKEN_LIFETIME=1209600

USER_DBHOST=127.0.0.1
USER_DBPORT=3306
USER_DBNAME=oauth2
USER_DBUSER=root
USER_DBPASS=
