<html>
<body>
  <section>
    <div>
      <h2>정보제공 동의</h2>
      <p>{{ client_name }}에서 {{  user_id }}님의 정보에 접근하려 합니다.</p>
      <p>출생년도, 성별, 이메일,<br>이메일 인증여부, 성인 인증여부</p>
      <div>
        <form method="POST">
            <div>
              <input type="submit" name="deny" value="취소" />
              <input type="submit" name="agree" value="동의하고 시작"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</body>
